<!DOCTYPE html>
<html>
<head>
    <title>Chat with AI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="chatbox">
        <!-- Chat messages will go here -->
    </div>
    <input id="inputbox" type="text" />
    <button id="sendbutton">Send</button>

    <script>
        $(document).ready(function(){
            $("#sendbutton").click(function(){
                var message = $("#inputbox").val();
                $.get("/get_response", {message: message}, function(data){
                    $("#chatbox").append("<p>User: " + message + "</p>");
                    $("#chatbox").append("<p>AI: " + data + "</p>");
                });
            });
        });
    </script>
</body>
</html>
